.card{
    margin: 3px;
    width: 300px;
}
/* common style */
.image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.textWithIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
/* card top  */
.cardTop{
    display: flex;
    justify-content: space-between;
}
.client{
    display: flex;
    align-items: center;
}


.person{
    display: flex;
    align-items: center;
}


/* card middle  */
.cardMiddle{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 5px;
    height: 25px;
}

/* card bottom  */
.cardBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.peopleList{
    display: flex;
    align-items: center;
}
.peopleListText{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}


/* modal  */

.clickable-div {
    cursor: pointer;
}


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}

.file-list {
    margin-top: 20px;
    height: 100vh;
    overflow-y: auto;
}

.file-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
